.navbarContent {
    background-color: #116794;
}

.navAlign {
    margin-left: 10vw;
}

.navText {
    margin-left: 15vw;
}

nav ul  {
    font-size: 20px;
    font-weight: 600;
}

.cardValues {
    max-width: 285px;
    margin-left: 17vw;
    margin-right: 10vw;
    text-align: center;
    background-color: #1B6E99;
    color: #fff;
    border-radius: 32px;
    border-color: #fff;
}

.cardValues:hover {
    border: 4px;
}

.cardIcon {
    border-radius: 100%;
    height: 90px;
    width: 90px;
    margin-left: 33%;
    margin-top: -47px;
}

.titleColor {
    color: #006295;
}

.ellipse1 {
    width: 315px;
    height: 300px;
    margin-left: 363px;    margin-bottom: -68px;
    border-radius: 80%;
    background-color: #1B6E99;
}


.ellipse2 {
    width: 315px;
    height: 300px;
    margin-left: 39px;
    margin-bottom: -68px;
    border-radius: 80%;
    background-color: #1B6E99;
}

.ellipse3{
    width: 315px;
    height: 300px;
    margin-left: 363px;
    border-radius: 80%;
    background-color: #1B6E99;
}

@media (min-width: 992px) { 
    .cardValues {
        margin-top: -11vh !important;
    }
 }