* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    box-sizing: border-box;
}

// Navbar

.navbarContent {
    background-color: #116794;
}

.navAlign {
    margin-left: 10vw;
}

.navText {
    margin-left: 15vw;
}

nav ul {
    font-size: 20px;
    font-weight: 600;
}

// Home

.cardValues {
    max-width: 285px;
    margin-left: 17vw;
    margin-right: 10vw;
    text-align: center;
    background-color: #1B6E99;
    color: #fff;
    border-radius: 32px;
    border-color: #fff;
}

.cardValues:hover {
    border: 4px;
}

.cardIcon {
    border-radius: 100%;
    height: 90px;
    width: 90px;
    margin-left: 33%;
    margin-top: -47px;
}

// Colegio

.titleColorBlue {
    color: #006295;
}

.ellipse1 {
    width: 315px;
    height: 300px;
    margin-left: 313px;
    margin-bottom: -126px;
    border-radius: 80%;
    background: url(https://github.com/Matheus-Borges-Never/website-school/blob/main/web/src/assets/img/1.jpg?raw=true);

    &:hover {
        border: 2px solid #006295;
        opacity: 0.5;
    }
}


.ellipse2 {
    width: 315px;
    height: 300px;
    margin-left: 29px;
    margin-bottom: -114px;
    border-radius: 80%;
    background: url(https://github.com/Matheus-Borges-Never/website-school/blob/main/web/src/assets/img/2.jpg?raw=true);

    &:hover {
        border: 2px solid #006295;
        opacity: 0.5;
    }
}

.ellipse3 {
    width: 315px;
    height: 300px;
    margin-left: 313px;
    border-radius: 80%;
    background: url(https://github.com/Matheus-Borges-Never/website-school/blob/main/web/src/assets/img/3.jpg?raw=true);

    &:hover {
        border: 2px solid #006295;
        opacity: 0.5;
    }
}



.schoolAbout {
    width: 309px;
    height: 33px;
    top: 249px;
    text-align: left;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #006295;
}

.line {
    width: 197px;
    height: 0px;
    text-align: left;
    margin-top: 9px;
    border: 3px solid #379FD5;
}

.schoolText {
    width: 664px;
    text-align: left;
    height: 347px;
    margin-top: 29px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #666363;
}

.schoolButton {
    box-sizing: border-box;
    width: 327px;
    height: 48px;
}

.schoolButtonText {
    width: 327px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #379FD5;
    border-radius: 30px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #006295;

    &:hover {
        border: 2px solid #006295;
        opacity: 0.5;
    }
}

// Pilares

.titleColorWhite {
    color: #ffffff;
}

.subtitle {
    color: #C6EEFF;
}

.bannerBlue {
    background-color: #1B6E99;
    max-width: 100%;
    max-height: 100%;
}

.rectanglePillars {
    width: 412px;
    height: 273px;
    border: 4px solid #379FD5;
    border-radius: 10px;
    margin-bottom: 4px;
}

.textPillars {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.titlePillars {
    height: 66px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #F9F9F9;
    text-transform: uppercase;
}

.imgMission {
    width: 412px;
    height: 257px;
    background: url(../img/pilarMissao.png);
}

.imgVision {
    width: 412px;
    height: 257px;
    background: url(../img/pilarVisao.png);
}

.imgValue {
    width: 412px;
    height: 257px;
    background: url(../img/pilarValores.png);
}

// Mobile

@media (min-width: 992px) {
    .cardValues {
        margin-top: -11vh !important;
    }
}